
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

img {
  width: 250px;
}

.petName{
  font-style: italic;
}
.dog{
  background-color: lightpink;
}

.wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn{
  padding: 20px;
  margin: 0 5px;
  background-color: lightpink;
  border: none;
  outline: none;
  border-radius: 5px;
  /* color: white; */
}